---
import { basename } from "path";
const work = Object.fromEntries(
    (await Astro.glob("../../data/work-experience/*.md")).map((post) => [
        basename(post.file),
        post,
    ])
);
---

<div id={Astro.props.id} class="experience-container">
    <div style="display: flex">
        <div style="flex: 1">
            <h2>Work Experience</h2>
        </div>
        <div style="flex: 1">
            {
                ["3bp", "solo", "mba"].map((p) => {
                    const post = work[`${p}.md`];
                    return (
                        <section>
                            <h3>{post.frontmatter.role}</h3>
                            <h4>
                                {post.frontmatter.company} /{" "}
                                {post.frontmatter.when}
                            </h4>
                            <post.Content />
                        </section>
                    );
                })
            }
        </div>
    </div>
</div>

<style>
    .experience-container {
        background: rgb(242, 245, 247);
        margin: 2rem -2rem;
        padding: 2rem;
        border-radius: 0.25rem;
    }

    section {
        padding-bottom: 2rem;
    }

    h3 {
        font-size: 1.2rem;
    }
    h4 {
        font-size: 1.2rem;
        font-weight: 300;
    }
</style>
